MMDARPGServer/Charator/bin/Debug/Charator.XML
MMDARPGServer/Charator/bin/Debug/Charator.dll
MMDARPGServer/Charator/bin/Debug/Charator.pdb
MMDARPGServer/Charator/bin/Debug/iPoi.dll
MMDARPGServer/Charator/bin/Debug/iPoi.pdb
MMDARPGServer/Charator/bin/Debug/iPoi.xml
MMDARPGServer/Charator/obj/Debug/Charator.csproj.FileListAbsolute.txt
MMDARPGServer/Charator/obj/Debug/Charator.csprojResolveAssemblyReference.cache
MMDARPGServer/Charator/obj/Debug/Charator.dll
MMDARPGServer/Charator/obj/Debug/Charator.pdb
MMDARPGServer/Charator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/Logger/bin/Debug/Logger.XML
MMDARPGServer/Logger/bin/Debug/Logger.dll
MMDARPGServer/Logger/bin/Debug/Logger.pdb
MMDARPGServer/Logger/bin/Debug/iPoi.dll
MMDARPGServer/Logger/bin/Debug/iPoi.pdb
MMDARPGServer/Logger/bin/Debug/iPoi.xml
MMDARPGServer/Logger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/Logger/obj/Debug/Logger.csproj.FileListAbsolute.txt
MMDARPGServer/Logger/obj/Debug/Logger.csprojResolveAssemblyReference.cache
MMDARPGServer/Logger/obj/Debug/Logger.dll
MMDARPGServer/Logger/obj/Debug/Logger.pdb
MMDARPGServer/MMD/bin/Debug/Logger.dll
MMDARPGServer/MMD/bin/Debug/Logger.pdb
MMDARPGServer/MMD/bin/Debug/Logger.xml
MMDARPGServer/MMD/bin/Debug/MMD.XML
MMDARPGServer/MMD/bin/Debug/MMD.dll
MMDARPGServer/MMD/bin/Debug/MMD.pdb
MMDARPGServer/MMD/bin/Debug/MessageData.dll
MMDARPGServer/MMD/bin/Debug/MessageData.pdb
MMDARPGServer/MMD/bin/Debug/Poi.dll
MMDARPGServer/MMD/bin/Debug/Poi.pdb
MMDARPGServer/MMD/bin/Debug/Poi.xml
MMDARPGServer/MMD/bin/Debug/Socket.dll
MMDARPGServer/MMD/bin/Debug/Socket.pdb
MMDARPGServer/MMD/bin/Debug/Socket.xml
MMDARPGServer/MMD/bin/Debug/Util.dll
MMDARPGServer/MMD/bin/Debug/Util.pdb
MMDARPGServer/MMD/bin/Debug/Util.xml
MMDARPGServer/MMD/bin/Debug/iPoi.dll
MMDARPGServer/MMD/bin/Debug/iPoi.pdb
MMDARPGServer/MMD/bin/Debug/iPoi.xml
MMDARPGServer/MMD/bin/Debug/protobuf-net.dll
MMDARPGServer/MMD/bin/Debug/protobuf-net.pdb
MMDARPGServer/MMD/bin/Debug/protobuf-net.xml
MMDARPGServer/MMD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/MMD/obj/Debug/MMD.csproj.FileListAbsolute.txt
MMDARPGServer/MMD/obj/Debug/MMD.csprojResolveAssemblyReference.cache
MMDARPGServer/MMD/obj/Debug/MMD.dll
MMDARPGServer/MMD/obj/Debug/MMD.pdb
MMDARPGServer/MMD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MMDARPGServer/MMD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MMDARPGServer/MMD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MMDARPGServer/MMDARPGServer/bin/Debug/MMDARPGServer.XML
MMDARPGServer/MMDARPGServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/MMDARPGServer/obj/Debug/MMDARPGServer.csproj.FileListAbsolute.txt
MMDARPGServer/MMDARPGServer/obj/Debug/MMDARPGServer.csprojResolveAssemblyReference.cache
MMDARPGServer/MMDARPGServer/obj/Debug/MMDARPGServer.exe
MMDARPGServer/MMDARPGServer/obj/Debug/MMDARPGServer.pdb
MMDARPGServer/MMDARPGServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MMDARPGServer/MMDARPGServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MMDARPGServer/MMDARPGServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MMDARPGServer/MessageData/bin/Debug/MessageData.dll
MMDARPGServer/MessageData/bin/Debug/MessageData.pdb
MMDARPGServer/MessageData/bin/Debug/iPoi.dll
MMDARPGServer/MessageData/bin/Debug/iPoi.pdb
MMDARPGServer/MessageData/bin/Debug/iPoi.xml
MMDARPGServer/MessageData/bin/Debug/protobuf-net.dll
MMDARPGServer/MessageData/bin/Debug/protobuf-net.pdb
MMDARPGServer/MessageData/bin/Debug/protobuf-net.xml
MMDARPGServer/MessageData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/MessageData/obj/Debug/MessageData.csproj.FileListAbsolute.txt
MMDARPGServer/MessageData/obj/Debug/MessageData.csprojResolveAssemblyReference.cache
MMDARPGServer/MessageData/obj/Debug/MessageData.dll
MMDARPGServer/MessageData/obj/Debug/MessageData.pdb
MMDARPGServer/Poi/bin/Debug/Poi.XML
MMDARPGServer/Poi/bin/Debug/Poi.dll
MMDARPGServer/Poi/bin/Debug/Poi.pdb
MMDARPGServer/Poi/bin/Debug/iPoi.dll
MMDARPGServer/Poi/bin/Debug/iPoi.pdb
MMDARPGServer/Poi/bin/Debug/iPoi.xml
MMDARPGServer/Poi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/Poi/obj/Debug/Poi.csproj.FileListAbsolute.txt
MMDARPGServer/Poi/obj/Debug/Poi.csprojResolveAssemblyReference.cache
MMDARPGServer/Poi/obj/Debug/Poi.dll
MMDARPGServer/Poi/obj/Debug/Poi.pdb
MMDARPGServer/Socket/bin/Debug/Socket.XML
MMDARPGServer/Socket/bin/Debug/Socket.dll
MMDARPGServer/Socket/bin/Debug/Socket.pdb
MMDARPGServer/Socket/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/Socket/obj/Debug/Socket.csproj.FileListAbsolute.txt
MMDARPGServer/Socket/obj/Debug/Socket.csprojResolveAssemblyReference.cache
MMDARPGServer/Socket/obj/Debug/Socket.dll
MMDARPGServer/Socket/obj/Debug/Socket.pdb
MMDARPGServer/Util/bin/Debug/Util.XML
MMDARPGServer/Util/bin/Debug/Util.dll
MMDARPGServer/Util/bin/Debug/Util.pdb
MMDARPGServer/Util/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/Util/obj/Debug/Util.csproj.FileListAbsolute.txt
MMDARPGServer/Util/obj/Debug/Util.csprojResolveAssemblyReference.cache
MMDARPGServer/Util/obj/Debug/Util.dll
MMDARPGServer/Util/obj/Debug/Util.pdb
MMDARPGServer/iPoi/bin/Debug/iPoi.XML
MMDARPGServer/iPoi/bin/Debug/iPoi.dll
MMDARPGServer/iPoi/bin/Debug/iPoi.pdb
MMDARPGServer/iPoi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMDARPGServer/iPoi/obj/Debug/iPoi.csproj.FileListAbsolute.txt
MMDARPGServer/iPoi/obj/Debug/iPoi.csprojResolveAssemblyReference.cache
MMDARPGServer/iPoi/obj/Debug/iPoi.dll
MMDARPGServer/iPoi/obj/Debug/iPoi.pdb
MMDARPGClient/Temp/
MMDARPGClient/Library/
Bin/Logger.dll
Bin/Logger.pdb
Bin/Logger.xml
Bin/MMD.dll
Bin/MMD.pdb
Bin/MMD.xml
Bin/MMDARPGServer.XML
Bin/MMDARPGServer.exe
Bin/MMDARPGServer.exe.config
Bin/MMDARPGServer.pdb
Bin/MMDARPGServer.vshost.exe
Bin/MMDARPGServer.vshost.exe.config
Bin/MMDARPGServer.vshost.exe.manifest
Bin/MessageData.dll
Bin/MessageData.pdb
Bin/Socket.dll
Bin/Socket.pdb
Bin/Socket.xml
Bin/Util.dll
Bin/Util.pdb
Bin/Util.xml
Bin/iPoi.dll
Bin/iPoi.pdb
Bin/iPoi.xml
Bin/protobuf-net.dll
Bin/protobuf-net.pdb
Bin/protobuf-net.xml
.gitignore.rej
